<mat-toolbar color="primary">
  <mat-toolbar-row class="topbar">
    <div>
      <h2>Bus Arrival - {{clientVersion}}</h2>
      <p *ngIf="clientVersion != serverVersion && serverVersion">New version of app available, please refresh this page</p>
    </div>
    <div *ngIf="user">
      <span>Welcome, {{user}}!</span>
      <button mat-raised-button [routerLink]="['favourites']">Favourites</button>
      <button mat-raised-button [routerLink]="['notifications']">Notifications</button>
      <button mat-raised-button (click)="logout()">Log out</button>
      <button mat-raised-button [routerLink]="['settings']">Settings</button>
    </div>
    <div *ngIf="!user">
      <button mat-raised-button [routerLink]="['register']">Register</button>
      <button mat-raised-button [routerLink]="['login']">Log in</button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>


<router-outlet></router-outlet>
<mat-toolbar>
  <p class="disclaimer">Contains information from Bus Stops and Bus Arrival from LTA which is made available under the terms of the <a href="https://datamall.lta.gov.sg/content/datamall/en/SingaporeOpenDataLicence.html">Singapore Open Data Licence version 1.0</a></p>
</mat-toolbar>
