<h2>Bus Arrival - {{clientVersion}}</h2>
<p *ngIf="clientVersion != serverVersion && serverVersion">New version of app available, please refresh this page</p>

<h4>Search bus stops (description/road name) - ({{numStops}} bus stops in service)</h4>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <input type="text" placeholder="Bugis Cube/Nth Bridge Rd" formControlName="searchWords">
  <button type="submit">Search</button>
</form>

<div *ngIf="searchMsg">
  <p>{{searchMsg}}</p>
</div>
<div *ngIf="busStops.length > 0">
  <ul *ngFor="let busStop of busStops">
    <li [routerLink]="['busStop', busStop.BusStopCode]">
      Description: {{busStop.Description}} - Road name: {{busStop.RoadName}} - Bus stop code: {{busStop.BusStopCode}}
    </li>
  </ul>
</div>

<h4>Bus arrival data by bus stop code</h4>
<form [formGroup]="arrivalForm" (ngSubmit)="getArrivalData()">
  <input type="text" placeholder="01109" formControlName="busStopCode">
  <button type="submit">Get arrival data</button>
</form>

<div *ngIf="busServices.length <= 0">
  <p>No bus services found</p>
</div>
<div *ngIf="busServices.length > 0">
  <ul *ngFor="let busService of busServices">
    <li>
      Service Number: {{busService.ServiceNo}} -
      <span *ngIf="busService.NextBus?.EstimatedArrival" [ngClass]="busService.NextBus!.Load">
        First Bus: {{((busService.NextBus!.EstArr!.valueOf() - timeNow) - (busService.NextBus!.EstArr!.valueOf() - timeNow) % 60000) / 60000}} minutes
      </span>
      <span *ngIf="busService.NextBus2?.EstimatedArrival" [ngClass]="busService.NextBus2!.Load">
         - Second Bus: {{((busService.NextBus2!.EstArr!.valueOf() - timeNow) - (busService.NextBus2!.EstArr!.valueOf() - timeNow) % 60000) / 60000}} minutes
      </span>
      <span *ngIf="busService.NextBus3?.EstimatedArrival" [ngClass]="busService.NextBus3!.Load">
         - Third Bus: {{((busService.NextBus3!.EstArr!.valueOf() - timeNow) - (busService.NextBus3!.EstArr!.valueOf() - timeNow) % 60000) / 60000}} minutes
      </span>

    </li>
  </ul>
</div>
<button [routerLink]="['register']">Register</button>
<br>
<button (click)="reloadBusStops()">Get new bus stop data</button>
<p>Contains information from Bus Stops and Bus Arrival from LTA which is made available under the terms of the <a href="https://datamall.lta.gov.sg/content/datamall/en/SingaporeOpenDataLicence.html">Singapore Open Data Licence version 1.0</a></p>
