.SEA {
  background-color: lightgreen;
}

.SDA {
  background-color: yellow;
}

.LSD {
  background-color: pink;
}

mat-card {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}
