<h2>Register</h2>
<form [formGroup]="newUserForm" (ngSubmit)="submitRegistration()">
  <table>
    <tr>
      <td>Username: </td>
      <mat-form-field>
        <td><input matInput type="text" formControlName="username"></td>
      </mat-form-field>
    </tr>
    <tr>
      <td>Password: </td>
      <mat-form-field>
        <td><input matInput type="password" formControlName="password"></td>
      </mat-form-field>
    </tr>
    <tr>
      <td><button mat-raised-button type="button" [routerLink]="['']">Back</button></td>
      <td><button mat-raised-button type="submit" [disabled]="newUserForm.invalid">Submit</button></td>
    </tr>
  </table>
</form>
